.bookingitem {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

h5 {
  font-size: 30px;
  color: #666;
  margin: 20px 10px 0px;
  padding: 0px 30px 0px 30px;
  text-align: center;
}

form {
  margin: auto;
  width: 50%;
  display: flex;
  gap: 20px;
  border: 3px solid green;
  padding: 10px;
}

.button {
  background-color: #04aa6d; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button:hover {
  background-color: rgb(77, 77, 7);
}

.labelcenter {
  margin: auto;
  width: 50%;

  padding: 10px;
  display: flex;
  flex-direction: column;
}

input {
  padding: 8px;
}
